run*/
slurm-output/
backup/
plumed-driver-output/
all-snapshots/
selected-snapshots/
**/*.dcd
**/*.xml
**/*.slurm
unbiased-md/
restrained-md/
restrained-md-final-snapshots/
**/*.tar.gz
**/*.csv
**/*.npy
